<h1>About Grushenka</h1>
<div id="content">
	<p>Grushenka was born in Dublin, but was not without musical influences as her father was part of the "Showband" era in the 1960s. Brendan Arnold played rhythm guitar with the 'Royal Blues' showband fronted by Doc Carroll. 
Taking up piano at an early age, Grushenka was taught guitar by her father and began writing songs when she was 16. She played saxophone and clarinet in a local marching band while in secondary school and later, attended the Bull Alley College of Performing Arts, a course which included voice training, singing/dancing and acting.
In her early 20s, she played Bass/rhythm guitar with various local bands before embarking on a career as a solo performer, resulting in many talent contest wins.</p>
<p>Since then, Grushenka recorded her first demo in 1999, followed by her EP in 2006. While residing in Canada, she performed in many venues, played support to Canadian rock band 'The Cliks' and recorded the first 5 tracks of her debut album 'Waiting For Something To Happen'. The album was completed in Ireland and subsequently released independently in 2008. Following a review in Hotpress magazine, Jackie Hayden mused: "Grushenka has a fetching voice" ... "'This Love' is well sung with intelligent lyrics" ... 'I Hope nothing goes wrong' he describes as having an "Infectious rockabilly edge" he also suggests that inside the comely-maiden folksinger Grushenka there's a rocker Grushenka that deserves a better hearing.</p> 
<p>Norman Cristofoli from the coffeehouse singer/songwriter circuit, Canada, described Grushenka as "Boldly beautiful, intriguingly intelligent and a voice that makes you feel like you've been caressed by an broken angel.  She writes music from the depths of her heart, and from the furthest recesses of her mind.  She explores emotions; she dissects social issues; and she strips humanity to its barest forms.  She doesn't write pop songs, she creates art".</p>	
</div>
<br />
