<h1>Grushenka's upcoming shows</h1>
<div id="gigs">
    <table border="0" width="100%" summary="This table displays the general layouts of tables, including a colspan">
      <thead>
      <tr>
        <th class="gigsHeader" colspan="1">Venue</th>
        <th class="gigsHeader" colspan="1">Date</th>
        <th class="gigsHeader" colspan="1">Time</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th id="gigsFooter" colspan="3">For bookings, you can click 'Book Appointment' below or call Grushenka on 086 083 9539</th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <td>The Beach House, Greystones Co. Wicklow</td>
        <td>June 1st</td>
        <td>9:30pm</td>
      </tr>
      <tr>
        <td>The Leitrim Lounge, Leitrim Place Co. Wicklow</td>
        <td>June 2nd</td>
        <td>8:30pm</td>
      </tr>
      <tr>
        <td>The Beach House, Greystones Co. Wicklow</td>
        <td>June 6th</td>
        <td>8:00pm</td>
      </tr>
      <tr>
        <td>The Leitrim Lounge, Leitrim Place Co. Wicklow</td>
        <td>June 8th</td>
        <td>8:30pm</td>
      </tr>
      <tr>
        <td>Jay K's Arklow, Co. Wicklow</td>
        <td>June 13th</td>
        <td>9:30pm</td>
      </tr>
      <tr>
        <td>Darcy McGee's, Arklow Co. Wicklow</td>
        <td>June 15th</td>
        <td>9:00pm</td>
      </tr>
      <tr>
        <td>Jay K's Arklow, Co. Wicklow</td>
        <td>June 22nd</td>
        <td>9:30pm</td>
      </tr>
      <tr>
        <td>The Leitrim Lounge, Leitrim Place Co. Wicklow</td>
        <td>June 29th</td>
        <td>9:00pm</td>
      </tr>
      <tr>
        <td>The Beach House, Greystones Co. Wicklow</td>
        <td>June 30th</td>
        <td>9:30pm</td>
      </tr>
      </tbody>
    </table>
    <br />
</div>
<br />


<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/fad1815e-59c4-43c2-91a6-b1569dd592a6><img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment with Grushenka.com using SetMore" /></a>
<br />
<br />