<h1 id="welcome-heading">Welcome to Grushenka.com!</h1>
<p>Grushenka is one of the brightest young artists performing on the Irish music scene this year.  Her song writing craft is combined with her powerful vocals to provide a great performance for her audience.</p>
<p>Hotpress Magazine's Jackie Hayden mused "Grushenka has a fetching voice".  'This Love' is "well sung with intelligent lyrics".  'I hope nothing goes wrong' he describes as having "an infectious rockabilly edge".  "There's a rocker who deserves a better hearing".</p>
<br />

<div class="videoFrame">
<iframe width="540" height="380" src="http://www.youtube.com/embed/QH8Qol0XaPA" frameborder="0" allowfullscreen></iframe>
</div>

<br />
<br />

<span>
    <a class="twitter-timeline" width="450" height="470" href="https://twitter.com/Grushenka01" data-widget-id="317801971530743808" class="video-corners">Tweets by @Grushenka01</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</span>


<!--facebook code starts here-->
<span id="facebookFeed">
    <div class="fb-comments" data-href="https://www.facebook.com/pages/Grushenka/126935906137" data-width="440" data-num-posts="20" data-colorscheme="dark">
     </div>
     <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</span>
<!--facebook code ends here-->

<br />
<br />


<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Grushenka/126935906137?fref=ts" scrolling="no" frameborder="0" style="border:none; width:440px;">
</iframe>



<!--
scrolling="yes" frameborder="0" style="border:none; width:470px; max-height:470px"
-->