<h1>Listen to Grushenka's latest tunes</h1>


<div>
  <table border="0" width="55%">
    <thead>
        <tr>
          <th class="gigsHeader" colspan="1">Track</th>
          <th class="gigsHeader" colspan="1">Time</th>
          <th class="gigsHeader" colspan="1">Play</th>
        </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
        <tr>
          <td>This Love</td>
          <td>3:57</td>
          <td>
            <audio controls>
              <source src="/audios/01_This__Love.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>
        </tr>
        <tr>
          <td>Isolated In Love</td>
          <td>3:13</td>
          <td>
            <audio controls>
              <source src="/audios/02_Isolated_In_Love.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>
        </tr>
        <tr>
          <td>I Hope Nothing Goes Wrong</td>
          <td>3:48</td>
          <td>
            <audio controls>
              <source src="/audios/03_I_Hope_Nothing_Goes_Wrong.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>
        </tr>
        <tr>
          <td>Sacred</td>
          <td>3:52</td>
          <td>
            <audio controls>
              <source src="/audios/04_Sacred.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>
        </tr>
        <tr>
          <td>We Could Be Lovers</td>
          <td>4:35</td>
          <td>
            <audio controls>
              <source src="/audios/05_We_Could_Be_Lovers.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>
        </tr>
    </tbody>
  </table>


</div>



<br />
<br />
<br />
<br />