<h1>Listen to Grushenka's latest tunes</h1>

<div id="soundcloud-api">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <%# javascript_include_tag "soundcloud.player.api.js" %>

  <!--script type="text/javascript" src="/soundcloud.player.api.js"></script-->
  <%# javascript_include_tag "sc-player.js" %>
  <!--script type="text/javascript" src="js/sc-player.js"></script-->
</div>
<br />
<br />
<a href="https://soundcloud.com/grushenka-a" class="sc-player">My new dub track</a>
<br />
<br />