<h1>Photos of Grushenka</h1>
<h2>Photos by Emma Lee at Strippedmedia.com</h2>
<br />
<br />
<h3>Click a photo to enlarge</h3>

<br />
<div class="studioPhotos">
  <a href="photo01">
    <%= image_tag "grushenka_photo01.jpg", :size => "195x260" %>
  </a>
  <a href="photo02">
    <%= image_tag "grushenka_photo02.jpg",:size => "195x260" %>
  </a>
  <a href="photo03">
    <%= image_tag "grushenka_photo03.jpg", :size => "200x260" %>
  </a>
  <a href="photo04">
    <%= image_tag "grushenka_photo04_first_album_cover.JPG", :size => "310x260" %>
  </a>
</div>
<br />
<br />


<!--script>
  $(document).ready(function(){
      $("#?").click(function(){
        $("#grushenka_photo01.jpg").animate({height: "750px"});
      });
  });
</script-->