<h2>Photo 4</h2>
<br />
<br />
<br />

<nav>
  <%= link_to "Photos", pages_photos_path %>
  <%= link_to "|<<", pages_photo01_path %>
  <%= link_to "<<", pages_photo03_path %>
</nav>

<br />
<br />

<div class="studioPhotos">
  <a id="grushenka_photo01.jpg" href="photos">
  <%= image_tag "grushenka_photo04_first_album_cover.JPG" %><br />
  </a>
</div>
<br />