<h2>Photo 1</h2>
<br />
<br />
<br />

<nav>
  <%= link_to "Photos", pages_photos_path %>
  <%= link_to ">>", pages_photo02_path %>
  <%= link_to ">>|", pages_photo04_path %>
</nav>

<br />
<br />

<div class="studioPhotos">
  <a id="grushenka_photo01.jpg" href="photos">
  <%= image_tag "grushenka_photo01.jpg" %><br >
  </a>
</div>
<br />
